body {
    background-image: url('https://www.cnet.com/a/img/j7SdHs9Ac8coHkwTOcJG1DYcQI4=/940x0/2019/04/19/f20d0d6a-1781-49a4-90ab-e285109b65b2/avengers-endgame-imax-poster-crop.png');
    margin: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-section {
    background-image: url('https://media.comicbook.com/2020/12/marvel-sword-spoilers-new-infinity-stones-1248706.jpeg?auto=webp&width=1200&height=629&crop=1200:629,smart');
    border-radius: 10px;
    padding: 24px;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

.point-list {
    margin: 16px;
    display: flex;
    gap: 16px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.point-chip {
    display: flex;
    margin: 10px 10px;
    gap: 5px;
    border-radius: 4px;
    box-shadow: 5px 5px 4px -6px rgb(0 0 0 / 70%), -5px 4px 6px -5px rgb(0 0 0 / 70%);
    padding: 8px;
    background: aliceblue;
    border: 1px solid #ccc;
    font-family: monospace;
}

.text {
    display: flex;
    flex: 1;
}

.triangle-area {
    margin: 16px;
    display: flex;
    gap: 16px;
}

.triangle-sides {
    flex-direction: row;
    padding: 8px 16px;
    display: flex;
}

.triangle-info-container {
    padding: 10px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.triangle-card {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 4px -6px rgb(0 0 0 / 70%), -5px 4px 6px -5px rgb(0 0 0 / 70%);
    border-radius: 4px;
    margin: 16px;
    border-radius: 8px;
    background: white;
}

.triangle-card.is-invalid {
    background: rgb(248, 144, 125);
}

.triangle-vertices {
    display: flex;
    gap: 16px;
    padding: 16px;
}

.circle-list {
    display: flex;
    flex-direction: column;
}

.circle-area {
    margin: 16px;
    display: flex;
    gap: 16px;
}

.circle-card {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 4px -6px rgb(0 0 0 / 70%), -5px 4px 6px -5px rgb(0 0 0 / 70%);
    border-radius: 4px;
    margin: 16px;
    border-radius: 8px;
    background: white;
    flex: 1;
}

.circle-center {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
}

.circle-center-text {
    padding: 5px 0px;
}

.rectangle-list {
    display: flex;
    flex-direction: column;
    margin: 16px;
    gap: 16px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.rectangle-card {
    margin: 16px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    box-shadow: 5px 5px 4px -6px rgb(0 0 0 / 70%), -5px 4px 6px -5px rgb(0 0 0 / 70%);
    border-radius: 4px;
    margin: 16px;
    border-radius: 8px;
    background: white;
}

.rectangle-card.is-invalid {
    background: rgb(248, 144, 125);
}

.rectangle-area {
    display: flex;
    margin: 16px;
}

.rectangle-vertices {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
}

.nav-button {
    background-color: lightgrey;
  border: none;
  box-shadow: 5px 5px 4px -6px rgb(0 0 0 / 70%), -5px 4px 6px -5px rgb(0 0 0 / 70%);
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.nav-button.active {
    background-color: aliceblue;
}

.app-name {
    margin: 5px 6px;
    font-size: 30px;
    padding: 5px 0px;
    border-bottom: 1px solid grey;
    font-family: monospace;
}